<div class="col-md-4 offset-md-2">
  <div class="card text-center">
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="text" name="title"  [(ngModel)]="game.title" placeholder="Titulo" class="form-control" autofocus />
        </div>
        <div class="form-group">
          <textarea name="description" [(ngModel)]="game.description" class="form-control" placeholder="Descripción" rows="2"></textarea>
        </div>
        <div class="form-group">
          <input type="url" name="image" [(ngModel)]="game.image" placeholder="Imagen" class="form-control" />
        </div>
        <button class="btn btn-success btn-block" (click)="edit ? updateGame() : saveNewGame()">
          GUARDAR
        </button>
      </form>
    </div>
  </div>
</div>

<div class="col-md-4">
    <div class="card card-body text-center">
        <img [src]="game.image == '' ? '/assets/noimage.png' : game.image" class="card-img-top">
        <h3>{{ game.id }}. {{ game.title == '' ? 'Titulo del Juego' : game.title }}</h3>
        <p>{{ game.description == '' ? 'Descripción del Juego' : game.description }}</p>
        <p>{{ game.created_at | date: 'yyyy-mm-dd' }}</p>
    </div>
</div>
